body {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    font-family:sans-serif;
}

/* Establishing block colors and flex*/

.header,
.footer {background-color: #1F2937; flex:0; color:#F9FAF8;}
.footer {align-items:center; justify-content:center;  text-align:center; padding:30px;}
.blue-block {background-color:#1F2937;flex:1; color:#F9FAF8}
.info-block,
.cta-block {background-color:white;flex:1; color:#F9FAF8}
.quote-block {background-color:#E5E7EB;flex:1; color:#1F2937}
.normal-text {font-size:18px}

/* control width of contents */

.content-container {width:70vw; margin:auto;}

/* header formatting */

.header-content {display:flex; padding-top:23px; padding-bottom:10px; justify-content:space-between; align-items:center}
.header-left {font-size:24px; font-weight:bolder; flex:1}
.header-right {display:flex; justify-content:right; gap:15px; flex:1; height:fit-content}
.header-right a {text-decoration:none;color:#F9FAF8;font-size:18px}

/* top block formatting */

.top-block {display:flex;justify-content:center;align-items:center;padding-top:80px;padding-bottom:100px; gap: 20px;}
.top-block-left {display:flex; flex-direction:column;text-align:left;flex:1;gap:15px;}
.top-block-right {display:flex;flex:1;width:100%}
.top-block-header {font-size:48px;font-weight:bolder}

/* button formatting */

button {padding:10px; border-radius:8px; background-color:#3882F6; width:fit-content;border:none;}
button a {text-decoration: none; color:#F9FAF8; font-weight:bold}

/* Info block formatting */

.info-header {margin-top:50px; margin-bottom:30px; font-size:36px; font-weight:bolder; color:#1F2937; display:flex; align-content:center; justify-content:center;}
.info-group {display:flex; width:80%; justify-content:space-between; gap:40px; margin:auto; margin-bottom:100px;}
.info-section {display:flex; flex-direction:column; justify-content:flex-start; flex:1; text-align:center;}
.info-img {width:100%; margin-bottom:12px; border-radius:8px;}

/* Quote block formatting */

.quote-container {display:flex; flex-direction:column; width:75%; margin:auto; margin-top:95px; margin-bottom:80px;}
.quote-text {font-size:36px; font-weight:lighter; font-style:italic; text-align:left;}
.quote-author {font-size:18px; font-weight:bolder; text-align:right; padding-top:10px;}

/* CTA block formatting */

.cta-box {background-color:#3882F6; border-radius: 8px; display:flex; justify-content:space-between; align-content:center; margin-top:80px; margin-bottom:80px; padding:45px 110px 45px 110px; gap:20px;}
.cta-left {display:block; text-align:left; color: #f9faf8;}
.cta-header {font-size:22px; font-weight:bold;}
.cta-text {font-size:18px;}
.cta-button {border:1px solid #F9FAF8; height:fit-content;}