body {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    font-family:sans-serif;
}

/* Establishing block colors and flex*/

.header,
.footer {background-color: #1F2937; flex:0; color:#F9FAF8}
.blue-block {background-color:#1F2937;flex:1; color:#F9FAF8}
.info-block,
.cta-block {background-color:white;flex:1; color:#1F2937}
.quote-block {background-color:#EFE7EB;flex:1}
.normal-text {font-size:18px}

/* control width of contents */

.content-container {width:70vw; margin:auto;}

/* header formatting */

.header-content {display:flex; padding-top:10px; padding-bottom:10px; justify-content:space-between; align-items:center}
.header-left {font-size:24px; font-weight:bolder; flex:1}
.header-right {display:flex; justify-content:right; gap:15px; flex:1; height:fit-content}
.header-right a {text-decoration:none;color:#F9FAF8;font-size:18px}

/* top block formatting */

.top-block {display:flex;justify-content:center;align-items:center;padding-top:80px;padding-bottom:100px; gap: 20px;}
.top-block-left {display:flex; flex-direction:column;text-align:left;flex:1;gap:15px;}
.top-block-right {display:flex;flex:1;width:100%}
.top-block-header {font-size:48px;font-weight:bolder}

/* button formatting */

button {padding:10px; border-radius:5px; background-color:#3882F6; width:fit-content;border:none;}
button a {text-decoration: none; color:#F9FAF8; font-weight:bold}